<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit recipe #<%= @recipe.id %>
</h1>

<hr>

<!-- Form recipe start -->
<form action="/update_recipe/<%= @recipe.id %>" method="post">
<!-- Form recipe end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @recipe.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
