<h1>
  Edit recipe #<%= @recipe.id %>
</h1>

<hr>

<form action="/update_recipe/<%= @recipe.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @recipe.user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
